// color
$theme: #194056;
$bg: #121318;
$text: white;
$cta: #dc3d41;
//polices
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/

html {
  width: 100%;
  height: auto;
}

.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: auto;
  background: #121318;
  color: $text;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  // cursor: none;
  position: relative;



  .cursor_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // background: #121318;
    // cursor style
    @media all and (max-width:700px){
      display: none;
    }
  }

  .cursor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width:700px){
      display: none;
    }
  }

  .contain_cursor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background: rgba(255, 255, 255, 0.219);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width:700px){
      display: none;
    }
  }

  .pointer {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 255, 255);

    filter: saturate(200%);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    @media all and (max-width:700px){
      display: none;
    }
  }
}

* {
  outline: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background: $cta;
}

// scroll bar

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

//link init
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  :hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}
.link {
  cursor: pointer;
}

.main {
  display: block;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.full_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.scroll_indice {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $cta;
  height: 80px;
  width: 2px;

  &:after {
    content: attr(value);
    font: normal normal 200 14px/0px Poppins;
    letter-spacing: 0px;
    color: #b4b4b4;
    transform: translateX(-45px) translateY(20px) rotate(-90deg);

    display: block;
    position: absolute;

    @media all and (max-width:500px){
      font: normal normal 200 12px/0px Poppins;
       transform: translateX(-40px) translateY(20px) rotate(-90deg);
    }
  }
  span {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 2px;
    transform: translateX(10px);
    display: block;
  }
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  @media all and (max-width:734px){
    padding-top: 200px;
    padding-bottom: 32px;
  }
  .bg_img {
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    @media all and (max-width: 734px){
      width: 100%;
      height: 60%;
    }
    &:before {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      transform: translateX(0%);
      z-index: 0;
      content: " ";
      background: transparent linear-gradient(90deg, #12131870 45%, #121318) 0%
        0% no-repeat padding-box;
        @media all and (max-width: 734px){
          background: transparent linear-gradient(0deg, #121318 35%, #12131800) 0% 0% no-repeat padding-box;
          transform: translateY(1px);
          height: 65%;
          top: auto;
          bottom: 0;

        }
    }
  }

  .bg_img_right {
    left: auto;
    right: 0px;
    &:before {
      right: auto;
      left: 0px;
      content: " ";
      background: transparent linear-gradient(90deg, #121318, #12131870 45%) 0%
        0% no-repeat padding-box;

        @media all and (max-width: 734px){
          background: transparent linear-gradient(0deg, #121318 35%, #12131800) 0% 0% no-repeat padding-box;
          transform: translateY(1px);
          height: 65%;
          top: auto;
          bottom: 0;

        }

    }
  }

  .struct {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 90%;
    position: relative;
    z-index: 1;

    .text_block {
      display: block;
      width: 65%;

      @media all and (max-width: 734px){
        width: 100%;
      }

    }

    .text_block_small {
      width: 50%;
      @media all and (max-width: 1370px){
        width: 100%;
        margin-top: 20px;
      }
    }

    .sub_text {
      display: flex;
      align-items: center;
      justify-content: left;
      .tiret {
        display: inline-block;
        height: 0.15em;
        width: 4em;
        background: white;
      }
      .text {
        display: inline-block;
        font: normal normal 300 1.2em/0px Poppins;
        color: #b4b4b4;
        margin-left: 10px;
        @media all and (max-width:578px){
          font: normal normal 300 1em/0px Poppins;
        }
      }
    }

    .text1 {
      font: normal normal bold 4em/1.2em Poppins;
      letter-spacing: 0px;
      text-transform: capitalize;
      display: block;
      margin-top: 30px;
      margin-bottom: 20px;
      color: #ffffff;

      @media all and (max-width:989px){
        font:normal normal bold 3em/1.3em Poppins;
      }
      @media all and (max-width:578px){
        font:normal normal bold 2em/1.2em Poppins;
        margin-top: 15px;
      margin-bottom: 20px;
      }

      .point {
        color: $cta;
        -webkit-text-stroke-width: 0px;
      }
    }
   
    .text2 {
      display: block;
      font: normal normal 300 1.1em/1.5em Poppins;
      letter-spacing: 0px;
      color: #cecece;
      margin-bottom: 10px;
      @media all and (max-width:578px){
        font: normal normal normal 0.9em/1.5em Poppins;
        text-align: justify;
      }
    }
    .btn_more {
      display: inline-block;
      color: $cta;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      padding-bottom: 5px;
      border-bottom: 0.1em solid $cta;
      position: relative;
      @media all and (max-width:578px){
      margin-top: 10px;
      }
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
        position: absolute;
        top: 0;

        right: 0px;
        transform: translateX(150%) translateY(15%);
      }
    }

    .form_devis {
      display: block;
      width: 100%;
      margin-top: 5em;
      .flex_input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .style_input {
          display: block;
          margin-bottom: 3em;
          background: none;
          border: none;
          padding-bottom: 10px;
          font: normal normal 400 1em/1em Poppins;
          border-bottom: 0.09em solid #cecece;
          color: #b4b4b4;
        }

        .input_form {
          width: 48%;
          @media all and (max-width: 734px){
            width: 100%;
            font: normal normal 400 0.9em/1em Poppins;
          }
        }
      }

      textarea {
        width: 100%;
        height: 7em;
        background: none;
        border: none;
        padding-bottom: 10px;
        font: normal normal 400 1em/1em Poppins;
        border-bottom: 0.09em solid #cecece;
        color: #b4b4b4;
        margin-top: 2em;
        @media all and (max-width: 734px){
         
          font: normal normal 400 0.9em/1.4em Poppins;
        }
      }

      .btn {
        width: 100%;
        height: 4em;
        border: 3px solid $text;
        border-radius: 4px;
        margin-right: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        font: normal normal normal 1.1em Poppins;
        letter-spacing: 0px;
        color: $text;
        margin-top: 40px;
        cursor: pointer;
      }

      .active {
        background: $cta;
        border: none;
      }
    }

    .flex_services {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 5em;
      width: 100%;
      @media all and (max-width:500px){
       
        margin-top: 2em;
      }

      .item {
        width: 25%;
         @media all and (max-width:1335px){
          width: 50%;
          }
         @media all and (max-width:500px){
          width: 100%;
         
          }

        height: 30em;
        transition: 0.3s ease;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:nth-child(2n + 1) {
          background: transparent
            linear-gradient(180deg, #181b25 0%, #121318 100%) 0% 0% no-repeat
            padding-box;
        }
        &:nth-child(2n) {
          background: transparent
            linear-gradient(180deg, #070911 0%, #121318 100%) 0% 0% no-repeat
            padding-box;
        }

        .flex_center {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .item_icon {
          width: 12.9em;
          height: 12.9em;
          border-radius: 50%;
          border: 0.2em solid rgba(255, 81, 81, 0);
          background: #22252e;
          transition: 0.3s ease;
          @media all and (max-width:700px){
            width: 8.9em;
          height: 8.9em;
          }


          .content_1 {
            width: 80%;
            height: 80%;
            border: 0.2em solid rgba(255, 81, 81, 0);
            border-radius: 50%;
            transition: 0.3s ease;
            .container {
              width: 70%;
              height: 70%;
              border: none;
              background: #22252e;
              border-radius: 50%;
              font-size: 2em;
              transition: 0.3s ease;
              
            }
          }
        }

        .item_titre {
          font: normal normal 300 1.6em/1.6em Poppins;
          letter-spacing: 0px;
          color: #b4b4b4;
          text-transform: uppercase;
          margin-top: 2em;
          margin-bottom: 2em;
          @media all and (max-width:1335px){
            margin-top: 1em;
            margin-bottom: 1em;
            }
          @media all and (max-width:700px){
            font: normal normal 300 1.2em/1.2em Poppins;
          }

        }

        .more {
          display: inline-block;
          color: $cta;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 400;
          padding-bottom: 5px;
          border-bottom: 0.1em solid $cta;
          position: relative;
          margin-top: 2em;
          @media all and (max-width:1335px){
            margin-top: 1em;
    
            }
        }

        &:hover {
          transition: 0.3s ease;
          .item_icon {
            width: 12.9em;
            height: 12.9em;
            border-radius: 50%;
            border: 0.2em solid rgba(255, 81, 81, 0.233);
            transition: 0.3s ease;
            background: rgba(white, 0);
            .content_1 {
              width: 80%;
              height: 80%;
              border: 0.2em solid rgba(255, 81, 81, 0.705);
              border-radius: 50%;
              transition: 0.3s ease;
              .container {
                width: 70%;
                height: 70%;
                border: none;
                background: $cta;
                border-radius: 50%;
                font-size: 2em;
                transition: 0.3s ease;
              }
            }
          }
        }
      }
    }
  }

  .struct_left {
    justify-content: left;
    align-items: flex-start;
  }

  .lines_svg {
    display: block;
    position: absolute;
    right: 5%;
    top: 0%;
    width: 30%;
  }

  .struct_between {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

.flex_box_numbers{
  @media all and (max-width:1370px){
    flex-direction: column;
  }
}


  .list_box {
    display: block;
    width: 100%;
    margin-top: 3em;
    .list_item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1em;
      .ico {
        display: inline-block;
        color: $cta;
        line-height: 0px;
        margin-top: 7px;
      }

      .text {
        display: block;
        margin-left: 10px;
        b {
          font-weight: bold;
          font-size: 1.3em;
        }
        .descr {
          display: block;
          font-weight: 300;
          margin-top: 0.5em;
          color: #b4b4b4;
        }
      }
    }
  }
  .box_numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    flex-wrap: wrap;
    @media all and (max-width:1370px){
      width: 100%;
    }
    
    .block_box {
      display: block;
      width: 48%;
      @media all and (max-width:1370px){
        width:49%;
      }
      @media all and (max-width:690px){
        width: 100%;
      }
      .item {
        width: 100%;
        height: 300px;
        background: transparent
          linear-gradient(180deg, #080911 0%, #121318 100%) 0% 0% no-repeat
          padding-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @media all and (max-width:1370px){
         margin-bottom: 20px;
        }
        
        div {
          text-align: center;
          .numb {
            display: block;
            font: normal normal bold 5em/1em Montserrat;
            letter-spacing: 0px;
            color: #f8f8f8;
            position: relative;
            &:after {
              content: "+";
              position: absolute;
              top: -1.5em;
              right: 0px;
              color: $cta;
              font-size: 0.3em;
            }
          }

          .descr {
            font: normal normal normal 1.2em/1.5em Poppins;
          }
        }

        &:hover {
          transition: 0.3s ease;
        }
      }
    }
  }
}

.group_small_padding {
  padding-top: 7em;
  padding-bottom: 7em;
}

.last_projets {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c26;

  .struct {
    align-items: flex-start;
    .bg_title_group {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;



      .text_block {
        width: 60%;
        text-align: left;
        @media all and (max-width:800px){
          width: 1000%;
          margin-bottom: 15px;
        }
      }
    }

    .flex_projets {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 3em;
      @media all and (max-width:1249px){
        flex-wrap: wrap;
      }
     
      .item {
        width: 33.5%;
        height: 20em;
        position: relative;
        transition: 0.3s ease;
        overflow: hidden;
        @media all and (max-width:1249px){
          width: 1000%;
          height: 20em;
        }

        cursor: pointer;
        img {
          position: absolute;
          top: 0px;
          left: 0px;
          transition: 0.3s ease;
          filter: saturate(50%);
        }

        .text_item {
          position: absolute;
          top: 0px;
          left: 0px;
          transition: 0.3s ease;
          width: 100%;
          height: 100%;
          background: transparent
            linear-gradient(180deg, #191c2691 0%, #dc3d42c9 100%) 0% 0%
            no-repeat padding-box;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          transform: translateY(100%);
          opacity: 0;
          display: none;
          &__struct {
            width: 80%;
            text-align: left;
            margin-bottom: 4em;

            .small {
              font: normal normal 300 1em/1em Poppins;
              opacity: 0.7;
              margin-bottom: 8px;
            }
            .categori {
              display: block;
              font: normal normal medium 1.3em/1.3em Poppins;
            }
          }
        }

        &:hover {
          transition: 0.3s ease;
          .text_item {
            opacity: 1;
          }

          img {
            filter: saturate(400%);
            transition: 0.3s ease;
          }
          .text_item {
            transform: translateY(0%);
          }
        }
      }
    }
  }
}

.none {
  display: none;
}

.menu_mobile {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 100;
  width: 70%;
  height: 100vh;
  // background: $cta;
  transform: translateX(0);
  transition: transform 1s ease;

  @media all and (max-width: 1168px) {
    display: flex;



  }
  @media all and (max-width: 700px){
    width: 100%;
  }


  .wrapper{
    display:flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
   
    z-index: 2;
div{
height: 15%;
background: $cta;
width: 100%;
transform: translateX(100%);
flex-grow: 1;
}


  
  }


  .struct {
    width: 75%;
    height: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid white;
   text-align: center;
   transform: translateX(100%);

   position: relative;
   z-index: 2;
    ol {
      display: block;
      list-style-type: none;
      padding-left: 0px !important;
      li {
        color: white;
        font-size: 1.5em;
 
        font-family: Poppins;
        font-weight: bold;
        transition: width 0.4s ease;
        text-transform: uppercase;
        margin-bottom: 40px;
        position: relative;


        @media all and (max-width: 700px){
          font-size: 1.2em;
          font-weight:600;
          width: 100%;
        }

        .line{
          display: inline-block;
          position: absolute;
          background: white;
          height: 1px;
          width: 0%;
          bottom: 0px;
          left: 0px;
          transition: width 0.4s ease;
          
        }

        .active{
          transition: width 0.4s ease;
          width: 100%;
      }

        &:hover{
          transition: width 0.4s ease;
          .line{
            transition: width 0.4s ease;
            width: 100%;
          }
        }
      }

 

    }
  }
}

.menu_mobile_off {
  transform: translateX(110%);
  transition: transform 2.5s ease;
}
